[submodule ".registry"]
	path = .registry
	url = https://github.com/wickra-lib/wickra-lib.r-universe.dev
	branch = HEAD
[submodule "wickra"]
	path = wickra
	url = https://github.com/wickra-lib/wickra
	branch = v1.0.4
	subdir = bindings/r
[submodule "wickrabacktest"]
	path = wickrabacktest
	url = https://github.com/wickra-lib/wickra-backtest
	branch = v0.1.4
	subdir = bindings/r
[submodule "wickraexchange"]
	path = wickraexchange
	url = https://github.com/wickra-lib/wickra-exchange
	branch = v0.1.1
	subdir = bindings/r
[submodule "wickrascreener"]
	path = wickrascreener
	url = https://github.com/wickra-lib/wickra-screener
	branch = v0.1.2
	subdir = bindings/r
[submodule "wickraterminal"]
	path = wickraterminal
	url = https://github.com/wickra-lib/wickra-terminal
	branch = v0.1.1
	subdir = bindings/r
